<div class="col-xs-12 no-pad navigate">
    <% var c = 1 %>
    <ol class="breadcrumb">
            <li>You are here</li>
            <li><a href="/">Home</a></li>
            <% bread.forEach(function(d) { %>
                <li><a href="/users/?folder=<%= bread.slice(0,c++).join('/') %>"><%= d %></a></li>
            <% }) %>
    </ol>
    <button class="btn btn-default pull-right topologyButton">Topology</button> 
</div>

<% if (data["folder"] != undefined) { %>
<% data["folder"].forEach(function(d){ %>
    <a href="<%= "/users/?folder="+path+d.trim() %>" target="_blank">
    <div class="col-lg-2 col-md-2 col-xs-6 text-center folder">
        <div class="col-lg-12 showWrap">
            <div class="col-lg-12 iconType" style="height: 82px; background: url(/images/folder.png) no-repeat center center;">
            </div>
            <div class="col-lg-12 objectName"><%= d.trim() %></div>
        </div>
    </div>      
    </a>                   
<% })} %>

<% if (data["file"] != undefined) { %>
<% data["file"].forEach(function(d){ %>
    <% if (path != "") { %>
        <a href="<%= "/"+ path + "/" + d.trim() %>" target="_blank">
            <div class="col-lg-2 col-md-2 col-xs-6 text-center file">
                <div class="col-lg-12 showWrap">
                    <div class="col-lg-12 iconType" style="height: 82px; background: url(/images/file.png) no-repeat center center;">
                    </div>
                    <div class="col-lg-12 objectName"><%= d.trim() %></div>
                </div>
            </div>
        </a> 
    <% } %> 
    
    <% if (path == ""){ %>
        <a href="<%= "/" + d.trim() %>" target="_blank">
            <div class="col-lg-2 col-md-2 col-xs-6 text-center file">
                <div class="col-lg-12 showWrap">
                    <div class="col-lg-12 iconType" style="height: 82px; background: url(/images/file.png) no-repeat center center;">
                    </div>
                    <div class="col-lg-12 objectName"><%= d.trim() %></div>
                </div>
            </div>
        </a> 
    <% } %> 
<% })} %>